<%- include('partials/header'); %>
<nav class="navbar navbar-expand-lg navbar-dark">
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <ul class="nav navbar-nav navbar-right">
      <!-- 6 -->
      <li id="search"><a href="/search">Search</a></li>
      <li id="enroll"><a href="/enroll">Register Patient</a></li>
    </ul>

  </div>
</nav>

<%- include('partials/footer'); %>