<%- include('partials/header'); %>
<h1>Home</h1>
<div class="button">
    <form class="" action="/search" method="get">
      <button type="submit" name="button" class="btn btn-primary btn-sm">Search</button>
    </form>
  </div>
 <%- include('partials/footer'); %>